fastapi > 0.103
orjson==3.8.0
pydantic==2.4.1
pydantic-settings==2.0.3
uvicorn==0.18.3
uvloop==0.17.0; sys_platform == "linux" or sys_platform == "darwin"  or sys_platform == "windows"
SQLAlchemy==1.4.41
SQLAlchemy-Utils==0.38.3
asyncpg==0.26.0
psycopg2-binary==2.9.3
databases[postgresql]==0.6.1
python-multipart
alembic==1.12


